@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    box-sizing: border-box;
}

.controls {
    margin: 0;
}
body {
    background-image: url(bg.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    min-height: 100vh;
}

h1 {
    font-weight: normal;
    font-size: 4rem;
    margin-top: 5.4rem;
    color: white;
}
.countdown-container {
    display: flex;
}

.big-text {
    font-weight: bold;
    color: white;
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
}

.countdown-el {
    color: white;
    text-align: center;
    font-size: 1.3rem;
}

